# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.jar

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### VisualStudioCode ###
.vscode*

### macOS ###
.DS_Store

### Personal Development Script and Environment ###
.config
personal-build-and-develop.*
.env
test.json
scrap
dist

